.icon-48-recordss {
      background-image: url(../images/l_recordss.png);
      padding-left:60px!important;
}

.icon-48-records {
      background-image: url(../images/l_recordss.png);
      padding-left:60px!important;
}

